#body-main, #video-main {
    display: flex;
    flex-direction: row;
    row-gap: 0.5rem;
    column-gap: 0.5rem;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
  }

#Inicio {
    flex-basis: 100%;
    flex-grow: 1;
}

#informacion-personal_educacion {
    flex-basis: 49.5%;
    flex-grow: 1;
}

#maps {
    flex-basis: 49.5%;
    flex-grow: 1;
}

#experiencia_habilidades {
    flex-basis: 49.5%;
    flex-grow: 1;
}

#contacto {
    flex-basis: 49.5%;
    flex-grow: 1;
}

#video {
    flex-basis: 100%;
    flex-grow: 1;
}

.iframe {
    flex-basis: 32.77%;
    flex-grow: 1;
}
