@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300..700&family=Raleway:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

section:nth-child(2n) {
    background-color: #90b4ce;
  }
  
  section:nth-child(2n+1) {
    background-color: #fffffe;
  }

* {
    font-family: Jura;
    line-height: 25px;
}

.titulo {
    font-family:  Raleway;
}

section>div {
    border:1px solid transparent
}

section {
    box-sizing: border-box;
    margin: 2px 1px 1.5px;
    margin-top: 0.8rem;
    border: 0.2pt double #094067;
    padding: 2% 1.2%;
    box-shadow: 
    rgba(0, 0, 0, 0.25) 0px 54px 55px, 
    rgba(0, 0, 0, 0.12) 0px -12px 30px, 
    rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, 
    rgba(0, 0, 0, 0.09) 0px -3px 5px; 
  }

body {
    background-color: white;
}

h1 {
    color: black;
    text-align: center;
    font-family: Raleway;
}

p {
    font-size: 20px;
    color: #5f6c7b;
}

span {
    font-weight: bold;
}

div.container {
    text-align: center;
}

ul.myUL {
    display: inline-block;
    text-align: left;
}
